[Unit]
Description=A lightweight connection pooler for PostgreSQL
Documentation=man:pgbouncer(1)
After=syslog.target
After=network.target

[Service]
RemainAfterExit=yes
Type=notify

User=postgres
Group=postgres

# Path to the init file
Environment=BOUNCERCONF={{ pgbouncer_conf_file }}

ExecStart=/opt/tantor/usr/bin/pgbouncer -q $BOUNCERCONF
ExecReload=/opt/tantor/usr/bin/pgbouncer -R -q $BOUNCERCONF

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
