[databases]
* = host=127.0.0.1 port={{ patroni_pg_port }} auth_user={{ pgbouncer_auth_user }}

[pgbouncer]
logfile = {{ pgbouncer_log_file }}
pidfile = {{ pgbouncer_pid_file }}

listen_addr = 127.0.0.1,{{ pgbouncer_incoming_hosts }}
listen_port = {{ pgbouncer_listen_port }}

auth_file = /opt/tantor/etc/pgbouncer/userlist.txt
auth_type = {% if major_version <= "13" %}md5{% elif major_version >= "14" %}scram-sha-256{%+ endif +%}
auth_query = SELECT * FROM pgbouncer.get_auth($1)

pool_mode = transaction
max_client_conn = 5000
default_pool_size = 200
reserve_pool_size = 50

ignore_startup_parameters = extra_float_digits,client_min_messages

admin_users = postgres
stats_users = stats, postgres

server_lifetime = 86400
server_idle_timeout = 10800
query_wait_timeout = 120

log_connections = 0
log_disconnections = 0
log_pooler_errors = 1

server_reset_query=DISCARD ALL;
